@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/Gotham-Medium.otf")
}

@font-face {
    font-family: Gotham-Thin;
    src: url("../fonts/Gotham-Thin.otf")
}

html {
    font-size: 16px;
}

nav {
    font-family: Gotham-Medium;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 30.9%;
    background: black;
    font-size: 2.5em;
    text-align: right;
    color: white;
    cursor: pointer;
    padding-top: 5.98%;
    padding-right: 5%;
}

nav div:hover {
    color: #1ABC9C;
}

nav span {
    font-weight: 100;
    font-family: Gotham-Thin;
    color: white;
}

.background {
    width: 69.1%;
    height: 100%;
    background: url("../img/background2.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0px;
}

.heading {
    font-family: Gotham-Medium;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 95px;
    font-size: 5em;
    cursor: default;
    -webkit-text-stroke: 1px black;
}

.heading span {
    color: #1ABC9C;
}
